Source: boats
Section: x11
Priority: extra
Maintainer: Thibaut GRIDEL <tgridel@free.fr>
Build-Depends: debhelper (>= 7), libqt4-dev, qt4-qmake
Standards-Version: 3.7.3
Vcs-Git: git://git.berlios.de/boats
Vcs-Browser: http://git.berlios.de/cgi-bin/gitweb.cgi?p=boats
Homepage: http://boats.berlios.de

Package: boats
Architecture: any
Depends: ${shlibs:Depends}
Description: a race scenario drawing tool 
 Boat Scenario is a drawing tool. It is your ideal companion for training
 sessions, rule learning, strategy explanations and more.
